*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 5rem;
  text-shadow: 4px 4px 8px black;
  text-transform: uppercase;
  
}

p{

}

h4{
  font-size: 1rem;
  color: rgb(56, 56, 56);
}
h3{
  font-size: 1rem;
  color: rgb(56, 56, 56);
  line-height: 1rem;
  margin: 2rem 0rem;
}

a{
  color: rgb(56, 56, 56);
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.spacing>*+* {
  margin-top: 2rem;
}

.hero {
  color: white;
  text-align: center;
  padding: 20em 0;
  background-image: url(../../img/bartender-1.jpeg);
  background-size: 135%;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  opacity: .95;
}

.hero p {
  font-size: 1.5rem;
  text-shadow: 4px 4px 6px black;
}

.backgroundShape {
  height: 100%;
  width: 100%;
  background: linear-gradient(35deg, LightGray, LightSteelBlue);
}

footer{
  background: linear-gradient(35deg, #494949, #313131);
  height: auto;
  color: white;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.footer-content{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.footer-content h3{
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  line-height: 2rem;
  font-weight: 400;
}

.footer-content p{
  font-size: .75rem;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: white;
}

