*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 5rem;
  text-shadow: 4px 4px 8px black;
  text-transform: uppercase;
}

p {
  font-size: 1.5rem;
  text-shadow: 4px 4px 6px black;
}

h4{
  font-size: 1rem;
  color: rgb(56, 56, 56);
}
h3{
  font-size: 1rem;
  color: rgb(56, 56, 56);
  line-height: 1rem;
  margin: 2rem 0rem;
}

a{
  color: rgb(56, 56, 56);
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.spacing>*+* {
  margin-top: 2rem;
}

.hero {
  color: white;
  text-align: center;
  padding: 20em 0;
  background-image: url(../../img/bartender-1.jpeg);
  background-size: 135%;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  opacity: .95;
  
}

