*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 5rem;
  /* text-shadow: 4px 4px 8px black; */
  /* text-transform: uppercase; */
  color: black;
  font-weight: 500;
  font-family: 'Anton', sans-serif;
  letter-spacing: 4px;
  line-height: 4rem;
  z-index: 5;
}

h4{
  font-size: 1rem;
  color: rgb(56, 56, 56);
}
h3{
  font-size: 1rem;
  color: rgb(56, 56, 56);
  line-height: 1rem;
  margin: 2rem 0rem;
}

a{
  color: rgb(56, 56, 56);
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: DarkGrey;
}

.spacing>*+* {
  margin-top: 2rem;
}

@media only screen and (max-width: 600px) {
  .hero {
    color: white;
    text-align: left;
    padding: 5em 0em;
    margin-right: 0rem;
    /* background-image: url(../img/landingpage2.png); */
    background-size: 65%;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 25% 10%;
    opacity: .95;
    line-height: 3.5rem;
    font-weight: 500;
  }

  .hero h1{
    margin-left: 2rem;
    margin-top: 10rem;
    line-height: 4rem;
    text-shadow: 3px 3px white;
    font-size: 3rem;
  }
  
  .hero p {
    font-size: 1.25rem;
    color: black;
    line-height: 1.75rem;
    margin-left: 2rem;
    margin-bottom: -3rem;
  }
}

@media only screen and (min-width: 600px) {
  .hero {
    color: white;
    text-align: left;
    padding: 10em 0;
    margin-right: 3rem;
    /* background-image: url(../img/landingpage2.png); */
    background-size: 75%;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 10%;
    opacity: .95;
    line-height: 3.5rem;
    font-weight: 500;
  }

  .hero h1{
    margin-left: 5rem;
    margin-top: 10rem;
    line-height: 6rem;
    text-shadow: 3px 3px white;
  }
  
  .hero p {
    font-size: 1.25rem;
    color: black;
    line-height: 2rem;
    margin-left: 5rem;
  }
}
  
@media only screen and (min-width: 1200px) {
  .hero {
    color: white;
    text-align: left;
    padding: 5em 0;
    margin-right: 10rem;
    background-size: 42%;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 80% 25%;
    opacity: .95;
    line-height: 3.5rem;
    font-weight: 500;
  }

  .hero h1{
    margin-left: 13rem;
    font-size: 5.25rem;
    line-height: 7rem;
    z-index: 5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .hero p {
    font-size: 1.5rem;
    /* text-shadow: 4px 4px 6px black; */
    color: black;
    line-height: 2.5rem;
    margin-left: 13rem;
  }
}


.backgroundShape {
  height: 100%;
  width: 100%;
  background: white;
}

footer{
  background: linear-gradient(35deg, #494949, #313131);
  height: auto;
  color: white;
  padding-top: 0rem;
  padding-bottom: 1rem;
}
/* linear-gradient(35deg, #494949, #313131) */

.footer-content{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.footer-content h3{
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  line-height: 2rem;
  font-weight: 400;
}

.footer-content p{
  font-size: .75rem;
  margin-bottom: 0rem;
}

.landingPageImg {
  width: 5rem;

}